// Layout.scss

.layout {
  display: flex;
}

.sidebar-open .content {
  margin-left: 200px; // Adjust the value based on your sidebar width
}


.content {
    padding: 1rem;
  transition: margin-left 0.5s ease; // Add smooth transition effect
}